localpack.toml

# config files that update themselves for no reason
config/fabric/indigo-renderer.properties
config/oculus.properties
config/oculus.properties
config/fabric/indigo-renderer.properties
config/embeddium-fingerprint.json
config/quark-common.toml
